[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
flake8 = "*"

[dev-packages]
flake8 = "*"
sentry-sdk = "*"

[requires]
python_version = "3.12"
